<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading text-muted">A Roller Coster that only goes up.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic 11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Our Humble Starting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I proposed , You said Yes in front of the Taj Mahal , It was so beautiful</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic 12.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Beautiful moments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The most beautiful year of my childhood , cause it was spent with you . I still remember your smile from the assembly line</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic 13.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Distance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Met one last time after a year from Hyderabad about to embark on JEE journey. It was very hard being apart from you</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic 14.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-18</h4>
                                    <h4 class="subheading">Long Distance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Again the long distance part . But we were never apart, you were always there for me</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic 15.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019- Present</h4>
                                    <h4 class="subheading">Unification</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The bestest so far. We are together , and will continue to stay forever</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>